<ion-card class="weather-card" mode="ios" *ngIf="currentWeather" color="light">
  <ion-card-header>
    <i class="fa-solid fa-location-pin"></i>
    {{ currentWeather.location.name }}, {{ currentWeather.location.region }}
  </ion-card-header>

  <ion-card-content class="weather-content">
    <div class="weather-img">
      <img [src]="getIcon(1000)" alt="" />
    </div>
    <h1>{{ currentWeather.current.temp_c | number : "1.0-0" }} °C</h1>
    <h2>
      {{ getCondition(currentWeather.current.condition.code) }}
    </h2>

    <div class="weather-stats">
      <div class="weather-stat">
        <i class="fa-solid fa-droplet"></i>
        <div class="stat-text">
          <span>{{ currentWeather.current.humidity | number : "1.0-0" }}%</span>
          <span>Humedad</span>
        </div>
      </div>

      <div class="weather-stat">
        <i class="fa-solid fa-wind"></i>
        <div class="stat-text">
          <span
            >{{ currentWeather.current.wind_kph | number : "1.0-0" }} Km/h</span
          >
          <span>Viento</span>
        </div>
      </div>
    </div>
  </ion-card-content>

  <div class="weather-card-buttons">
    <ion-button fill="clear" color="secondary">Action 1</ion-button>
    <ion-button fill="clear">Action 2</ion-button>
  </div>
</ion-card>
